.containerr {
  background-color: aliceblue;
  max-height: 400px;
  width: 300px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.icon {
  height: 40px;
  width: 40px;
}
.icon-tick {
  height: 20px;
}
p {
  font-size: small;
}
.button-edit {
  border: 0px solid transparent;
  background-color: transparent;
  border-color: transparent;
}
